/* Global Styles */

// @import "atelier.auth";

html,
body {
  height: 100vh;
  width: 100vw
}

body {
  // display: flex;
  align-items: center;
  margin: 0;
  // padding-top: 40px;
  // padding-bottom: 40px;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  width: 100% !important;
  max-width: 330px !important;
  padding: 15px;
  margin: auto;
}

.fw-normal {
  text-align: center;
}

.ima__ge {
  text-align: center !important;
  align-items: center !important;
}

.form-signin {
  width: 100% !important;
  max-width: 330px !important;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

code {
  white-space: pre-wrap;
  word-break: break-all;
}

p code {
  color: var(--secondary);
  font-weight: 600;
}

#__next {
  height: 100%;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: .55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}

.prof {
  padding-top: 5px !important;
  line-height: normal;
}

.page-link {
  font-weight: bold;
  text-decoration: underline;
}




/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.btn-top {
  z-index: 900 !important;
}


/*
 * Base structure
 */

body {
  // text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  // box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

.main {
  height: auto;
  padding: 0;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
 * Header
 */
.bg-blur {
   background-color: rgba(0,0,0,0.8) !important;
   backdrop-filter: saturate(180%) blur(20px) !important;
   -webkit-backdrop-filter: saturate(300%) blur(20px) !important;
   background: rgba(0,0,0,0.6) !important;
   color: #fff;
}

.navigation {
  background-color: rgba(0,0,0,0.8) !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  -webkit-backdrop-filter: saturate(300%) blur(20px) !important;
  background: rgba(0,0,0,0.6) !important;
  color: #fff !important;
}

.section {
  min-width: 100vw;
  margin: 0;
  padding: 0;
}
